API接口ModelObject(可以直接用来调用接口):
```
#INTERFACE_BLOCK#
```

自动化脚本示例:
```
#CODE_EXAMPLE#
```

测试用例:
```
#CASE#
```
对提供的测试用例进行自动化实现, 要求:
1. 对测试用例进行步骤拆分, 每一步都要有明确的描述; 然后对一步步进行实现
2. 模仿自动化脚本示例的编写方式, 进行自动化测试编写
3. 无法直接操作database, 只能根据提供的ModObject来实现api的调用, 注意方法的入参和出参
4. 不清楚具体实现的部分, 在代码结尾标注 "# todo"
5. 不确定的部分, 在代码中添加 "# todo"
6. 对于接口的调用, 只使用提供的ModObject代码, 不要凭空创造新的代码
